/* body {
    background-color: black;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fmakeagif.com%2Fgif%2Fhigh-res-1-hour-matrix-rain-code-Y2bkMs&psig=AOvVaw1lzishVjGvo0IPixLf-ON0&ust=1594587827367000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjT0tyMxuoCFQAAAAAdAAAAABAD);
    background-repeat: repeat;
    background-size: auto;
    background-blend-mode: color;
    color: rgba(0, 234, 0, 1);
    font-family: 'VT323', monospace;
    font-size: 200%;
} */
body,
html {
  width: 100%;
  height: 100%;
  /* font-family: 'VT323', monospace;
  color: rgba(0, 234, 0, 1); */
  background: url(Photos/matrix_Digital_rain_animation_small_letters_clear.gif) black center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-blend-mode: hard-light;

}

/* p {
    color: rgba(0, 234, 0, 1);
} */
/* nav {
    display: inline-block;
} */
hr {
    border-color:rgba(0, 234, 0, .5);
    border-width: 3px;
    /* max-width: 65px; */
}
.matrix {
    text-align: left;
    color: rgba(0, 234, 0, 1);
    font-family: 'VT323', monospace;
    font-size: 4rem;
    text-decoration: underline;
}

.hidden {
    text-align: left;
    color: rgba(0, 0, 0, 0);
    font-family: 'VT323', monospace;
    font-size: 1rem;
    text-decoration: underline;
}


.hidden:hover {
    color:rgba(0, 234, 0, 1);
    /* Are you there, Neo? */
    text-shadow: 5px 5px 10px rgba(0, 234, 0, 1);
    /* I would really like to use 'OCR A Std, monospace' for a matrix like look */
    /* font-family: Consolas, 'Courier New', monospace; */
    font-size: 5rem; 
}

.container {
    /* font-family: 'VT323', monospace; */
    color: rgba(0, 234, 0, 1);
    text-align: left;
    padding: 2px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content:space-between;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px dashed rgba(0, 234, 0, 1);
    
}
.divlang {
    background-color: rgba(255, 255, 255, 0.2);
    /* border-style: solid;
    border-width: 5px;
    border-color: ivory; */
    border:2px solid rgba(0, 234, 0, 1);
    padding: 4px;    
}