body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Photos/crawford_logo_backgound.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(79, 57, 88);
  color: #e2dbdb;
}



.container {
  text-align: center;
  color: #e2dbdb;
  background-color: rgba(79, 57, 88, 0.8);
}


h1 {
  font-size: 3rem;
  text-shadow:3px 3px 3px rgba(23, 16, 26, 1);
/* 
  font-family: fantasy;
  font-size: 3em; */
  border-bottom: 0px 2px 2px 0px solid rgba(202, 145, 224, 1);
  /* border-right: 2px solid rgba(202, 145, 224, 0.5); */
  /* width: 400px; */
  text-align: center;
  box-shadow: 4px 4px 4px 4px rgba(218, 214, 219, 1);
  margin: 5px;
}
h2 {
  font-size: 2rem;
  text-shadow:1px 1px 1px rgb(39, 37, 37);
}

hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}
.buffer {
  height: 12rem;
}

.btn-xl {
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;

}

img {
  height: 300px;
}

nav.navbar {
  background-color: black;
  background-image: url(Photos/IMG_0790.JPG);
}
.country {
  text-align: left;
}